<% book.book_comments.each do |book_comment| %>
  <div class="d-flex">
    <%= link_to user_path(book_comment.user) do %>
      <%= image_tag book_comment.user.get_profile_image(60, 60) %><br>
      <%= book_comment.user.name %>
    <% end %>
    <dix class="d-flex align-items-center ml-2">
      <%= book_comment.comment %>
      <% if book_comment.user == current_user %>
        <%= link_to "Destroy", book_book_comment_path(book_comment.book, book_comment), method: :delete, remote: true, "data-confirm" => "削除しますか？", class: "btn btn-danger btn-sm ml-3" %>
      <% end %>
    </dix>
  </div>
<% end %>